In [5]:
#Q1. Create one variable containing following type of data:
#(i)	string
a = "Suparna"
print(a)

#(ii)	list
l = ['apple', 5, 67.7, 'orange']
print(l)

#(iii)	float
b = 64.6
print(b)

#(iv)	tuple
t = ('apple', 'orange', 5, 90)
print(t)

Suparna
['apple', 5, 67.7, 'orange']
64.6
('apple', 'orange', 5, 90)

In [8]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
var1 = ''
print(type(var1))
#(ii) var2 = ‘[ DS , ML , Python]’
var2 = '[ DS , ML , Python]'
print(type(var2))
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var3 = [ 'DS' , 'ML' , 'Python']
print(type(var3))
#(iv) var4 = 1.
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [10]:
# # Q3. Explain the use of the following operators using an example:
# (i) /
#Division
a = 4/2
print(a)
# (ii) %
#Reminder
b = 5%4
print(b)
# (iii) //
#Quotient
c = 5//4
print(c)
# (iv) **
#exponent
d= 2**3
print(d)

2.0
1
1
8

In [13]:
#Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
l = ['suparna', 1, 2, 3.6, 'grapes', 89.8, 9, 0, 'potato', 'red']
for i in l:
    print(type(i))
    print(i)

<class 'str'>
suparna
<class 'int'>
1
<class 'int'>
2
<class 'float'>
3.6
<class 'str'>
grapes
<class 'float'>
89.8
<class 'int'>
9
<class 'int'>
0
<class 'str'>
potato
<class 'str'>
red

In [27]:
#Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a = 50
b = 5
while a % b == 0:
    print(b)
    b = b - 1 % a

5

In [1]:
#Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a = 50
b = 1
c = 10
while b <= c:
    d = a % b
    print (d)
    if d == 0:
        print ("completely divisible")
        b = b+1
    elif d != 0:
        print ('not completely divisible')
        b = b+1
    else:
        print ('done!')

0
completely divisible
0
completely divisible
2
not completely divisible
2
not completely divisible
0
completely divisible
2
not completely divisible
1
not completely divisible
2
not completely divisible
5
not completely divisible
0
completely divisible

In [2]:
#Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
for i in l:
    a = i % 3
    if a == 0:
        print ("Divisible")
    elif a != 0:
        print ("Not Divisible")

Not Divisible
Not Divisible
Divisible
Not Divisible
Not Divisible
Divisible
Not Divisible
Not Divisible
Divisible
Not Divisible
Not Divisible
Divisible
Not Divisible
Not Divisible
Divisible
Not Divisible
Not Divisible
Divisible
Not Divisible
Not Divisible
Divisible
Not Divisible
Not Divisible
Divisible
Not Divisible

In [19]:
#What do you understand about mutable and immutable data types? Give examples for both showing this property.
l1 = [3,7, 'payel', 6]
print (l1) 
l1[3]
l1[3] = 8
print(l1)
type(l1)
#so l1 is mutable and the data type for l1 is list. Mutable data means value can be modified after it is created
a = "apple"
a[0]
type(a)
a[0] = k
#we cannot mutate string. Hence it is immutable data

[3, 7, 'payel', 6]
[3, 7, 'payel', 8]

str